/* ----------------------- Main Styles -----------------------*/

* {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  box-sizing: content-box;
}

header .left-nav {
  color: #222;
}

header .right-nav {
  color: #000000DE;
}

nav,
footer,
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

main {
  margin: 0 auto;
  flex-direction: column;
}

footer {
  color: #70757a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  flex-direction: row;
}

.footer-item {
  display: flex;
  flex-direction: row;
}

.footer-subitem {
  padding: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
}

.nav-item: {
  margin: 5px;
}

.nav-item-2 {
  margin-right: auto;
}

.nav-item-1,
.nav-item-2 {
  color: #22222;
}

.nav-item-3,
.nav-item-4 {
  color: #rgba(0, 0, 0, .87);
  font-size: 13px;
  font-family: arial, sans-serif;
}

button {
  margin: 11px 4px;
  padding: 0 16px;
  background-color: #f8f9fa;
  border: none;
  color: #3c4043;
}

#leaf {
  margin: 0 6px 0 0;
  height: 0.8em;
}

/* ----------------------- Grid Styles -----------------------*/

.container {
  height: 100vh;
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-auto-rows: mimax(auto, auto);
  /* grid-gap: 10px; */
  grid-template-areas:
    "nav"
    "main"
    "footer";
}
