/* ----------------------- Main Styles -----------------------*/
header .left-nav {
  color: #222;
}

header .right-nav {
  color: #000000DE;
}

* {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
}

footer {
  color: #70757a;
}


/* ----------------------- Grid Styles -----------------------*/

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-auto-rows: mimax(150px, auto);
  grid-gap: 10px; */
  grid-template-areas:
    "nav"
    "nav"
    "footer";
}

.nav {
  display: flexbox;
}
