/* ----------------------- Styles -----------------------*/

* {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}

nav,
footer,
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

button {
  margin: 11px 4px;
  padding: 10px 16px;
  background-color: #f8f9fa;
  border-radius: 4px;
  border-color: rgba(32,33,36,.01);
  color: #3c4043;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

/* ----------------------- Nav Styles -----------------------*/

nav {
  flex-direction: row;
}

.nav-item {
  display: flex;
  flex-wrap: wrap;
  color: #222;
}

.nav-submitem {
  padding: 5px;
}

.nav-item:nth-child(2) {
  color: #rgba(0, 0, 0, .87);
  font-size: 13px;
  font-family: arial, sans-serif;
}

.small-grid {
  padding: 5px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 0;
  margin-top: -4px;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: #70757a;
  border-radius: 50%;
  display: inline-block;
}

/* ----------------------- Main Styles -----------------------*/

main {
  flex-direction: column;
}

input {
  width: 527px;
  height: 34px;
  border: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  padding: 14px 8px 5px 16px;
  border: 1px;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-radius: 24px;
}

#search-icon {
  margin-top: 2px;
  width: 20px;
  height: 20px;
}

/* ----------------------- Footer Styles -----------------------*/

footer {
  color: #70757a;
  background-color: #f2f2f2;
  flex-direction: row;
  align-content: center;
}

.footer-item {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.footer-item:nth-child(1) {
  flex-basis: 100%;
}

.footer-subitem {
  padding: 15px;
}

#leaf {
  margin: 0 6px 0 0;
  height: 0.8em;
}

/* ----------------------- Media Queries -----------------------*/

@media screen and (min-width: 1200px) {

  .footer-item:nth-child(1) {
    flex-basis: auto;
    order: 2;
  }

  .footer-item:nth-child(2) {
    order: 1;
  }

  .footer-item:nth-child(3) {
    order: 3;
  }

}
